apiVersion: v1
kind: Service
metadata:
  name: {{ include "web-landing.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "web-landing.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.app.port }}
      protocol: TCP
      name: http
  selector:
    {{- include "web-landing.selectorLabels" . | nindent 4 }}
